body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;

}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
.A4 {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    padding-left:60px;padding-right:60px;
    padding-top:30px;padding-bottom:60px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

    box-sizing: border-box;
    font-size: 12pt;
    position: relative;
  }

  @media print {
    div {
  		page-break-before: always;
  	}
    .page-break {
      display: block;
      page-break-before: always;
    }
    @page {
        size: A4 portrait;
    }
    .header, .footer, .banner, .action-print {
		display: none;
	}


    body {
      margin: 0;
      padding: 0;
    }
    .A4 {
      box-shadow: none;
      margin: 0;
      width: auto;
      height: auto;
    }
    .noprint {
      display: none;
    }
    .enable-print {
      display: block;
    }
  }

span {
  border: 1px black solid;

  padding:0.125em 0 0 .25em;
	letter-spacing:.65em;
	font-family:"Courier New", Courier, monospace;
  font-size: 1em;
background: -moz-linear-gradient(left, rgba(252,252,252,0) 0%, rgba(255,255,255,0) 95%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,252,252,0)), color-stop(95%, rgba(255,255,255,1)), color-stop(96%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(left, rgba(252,252,252,0) 0%, rgba(255,255,255,0) 95%, rgba(0,0,01) 96%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(252,252,252,0) 0%, rgba(255,255,255,0) 95%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(252,252,252,0) 0%, rgba(255,255,255,0) 95%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
background: linear-gradient(to right, rgba(252,252,252,0) 0%, rgba(255,255,255,0) 95%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#000000', GradientType=1 );
  background-size:1.25em 1em;
	background-repeat:repeat;
}
span:after {
  content:' ';
  border: 1px white solid;
  position:absolute;
  background:white;
  width:.2em;
  height:1.25em;
  margin:-.125em -.25em;
}
/* внешние границы таблицы серого цвета толщиной 1px */

table {
       border-collapse: collapse;
       width:100%;
       font-size:12px;
       background:white;
   }
   table th,
   table td {
       padding: 0 5px;
       border: 1px solid #000;
       text-align: center;
   }

   .button123{
     font-family:Arial, Helvetica, sans-serif;
text-decoration:none;
     font-size:13px;
     text-shadow: 1px 1px 0px #fff;
     background-color: rgba(0, 50, 50, 0);
border: 1px solid grey;
padding: 1.5px;
   }
   input[type=button]
   {
   	font-family:Arial, Helvetica, sans-serif;

   	font-size:13px;
   	text-shadow: 1px 1px 0px #fff;
   	background-color: rgba(0, 50, 50, 0);
border: 1px solid grey;
margin:2px;
   }
